* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(142, 138, 138);
  overflow-y: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  width: 1000px;
  height: 550px;
  margin: auto;
  background: url(imgs/background.png) center/cover no-repeat;
  border-radius: 0 0 20px 20px;
}

.game__header {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: whitesmoke;
  border-bottom: 4px solid darkgrey;
  border-radius: 20px 20px 0 0;
  gap: 8px;
}

.game__button {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: rgb(225, 255, 57);
  border: 2px dashed darkgray;
  border-radius: 40%;
  font-size: 32px;
}

.game__button i {
  transition: transform 300ms ease-in;
}

.game__button:hover i {
  transform: scale(1.2);
}

.game__score__des {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 40px;
  border-radius: 50%;
  outline: 3px dashed darkgray;
  background-color: rgb(123, 218, 39);
  color: white;
}

.game__timer__des {
  display: inline-block;
  width: 100px;
  background-color: white;
  outline: 4px dashed darkgray;
  border-radius: 20px;
  font-size: 32px;
}

.game__field {
  width: 100%;
  height: 100%;
  border-radius: 0 0 20px 20px;
}

.pop-up {
  display: block;
  width: 1000px;
  height: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #000000a0;
  color: white;
  text-align: center;
  transform: translateY(-100%);
  border-radius: 0 0 20px 20px;
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 120px;
  height: 120px;
  font-size: 80px;
  background-color: white;
  outline: 5px dashed gray;
  border-radius: 100%;
}

.pop-up__message {
  display: block;
  font-size: 120px;
}
